# This is a basic workflow to help you get started with Actions

name: Deploy TTswap doc to dev

# Controls when the workflow will run
on:
  push:
    branches: [ "master" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment: doc-master-machine

    env:
      NODE_VERSION: '22'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Runs a single command using the runners shell
      - name: Install pnpm
        uses: pnpm/action-setup@v4

      # Runs a single command using the runners shell
      - name: install node
        uses: actions/setup-node@v4
        with:
          # 选择要使用的 node 版本
          node-version: 22
          # 缓存 pnpm 依赖
          cache: pnpm


      - name: Install dependencies
        run: pnpm install  --frozen-lockfile

      - name: Build documentation site
        run: pnpm docs:build  

      - name: scp file
        run: |
          echo "${{ secrets.SERVER_IP }}"
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
          scp -o StrictHostKeyChecking=no -i key.pem -r docs/.vuepress/dist/* ${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }}:/var/www/html/docs

      # - name: Restart Nginx (optional)
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.SERVER_IP }}
      #     username: ${{ secrets.SSH_USERNAME }}
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     script: |
      #       sudo systemctl restart nginx
          
        
